################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/Statistic Application/v16
/obj
/Statistic Application.njsproj.user
